@media (max-width:600px) {
  .grid-cont {
    grid-template-columns: 1fr;
  }

  header div,
  .about .text-cont {
    text-align: center;
  }
  
  .effect:not(h2){
    transform: translateY(25px);
  }
  
  .effect.active {
    transform: translateY(0);
  }
  
}
