@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');

/* universal resets and styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  color:#282340;
}

a {
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
  color: white;
  transition: all 0.3s ease;
}

header a, .project a.live, .contact a{
  border: 2px solid #00cdac;
  padding: 6px 12px;
}

.contact p, header a{
  font-size: 1.4rem;
}

.about, .project, .contact, footer {
  padding: 4rem 0;
}

.about h2, .project h2, .contact h2{
  margin-bottom: 3rem;
  font-size:2rem;
}

.about p, .project p, .project a{
  font-size: 1.2rem;
}

.about p, .project p{
  line-height: 1.6rem;
}

.project img, .about img{
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

/* header */
header{
  height: 100vh;
}

header h1{
  font:bold 2.5rem/1.5 'Montserrat';
  margin-bottom: 1.5rem;
}

header h1, header a {
  animation: 1s .5s both fadeIn;
}

header a {
  animation-delay: 1s;
}

/* about section */
.grid-cont{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.text-cont p:not(:last-child){
  margin-bottom: 12px;
}

/* project section */
.project article:not(:last-child) {
 margin-bottom:6rem;
}

.project h3 {
  font-size: 1.7rem;
}

.project h3, .project p, .project a {
  margin-bottom: 1.5rem;
}

a.live{
  margin-right: 12px;
}

a.source:hover {
  transform: translateX(2px);
}

/* contact section */
.contact-info {
  gap: 2rem;
}

.contact a {
  border: 2px solid white;
  position: relative;
  font-size: 1.5rem;
}

.contact a:hover {
  color: #00cdac;
}

/* hover effects */
.contact a::before{
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  z-index: -1;
  transform: scalex(0);
  transform-origin: left;
  transition: all 0.2s ease;
}

.contact a:hover::before{
  transform: scalex(1)
}

/* footer */
footer {
  background: #333;
  font-size: 2rem;
}

footer > div{
  gap: 2.5rem;
}

footer > div > div{
  display: flex;
  justify-content: space-between;
  width: 30%;
}

/* scroll effects */
.effect {
  opacity:0;
  transition: all 1s ease;
}

.effect.active {
  opacity: 1;
}

.x-left-effect {
  transform: translateX(-25px);
}

.x-right-effect {
  transform: translateX(25px);
}

.x-right-effect.active,
.x-left-effect.active{
  transform: translateX(0);
}

.y-up-effect {
  transform: translateY(25px);
}

.y-up-effect.active {
  transform: translateY(0);
}

.delay {
  transition-delay: 0.5s;
}

/* header animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(35px)
  }
  
  to {
    opacity: 1;
    transform: translateY(0)
  }
}








